<aside>
  <%  
    let equipos = [
      { tipo: 'Laptop' },
      { tipo: 'Videoproyector' },
      { tipo: 'Extensión' },
      { tipo: 'Regulador' },
      { tipo: 'Bocina' },
      { tipo: 'Tarjeta_inalámbrica' },
      { tipo: 'Impresora' }, 
    ];
  %>  
  
    <div>  
      <div class="p-4">  
        <% for (const equipo of equipos) { %>  
          <a href="/equipos/categoria/<%= equipo.tipo %>">  
            <b class="text-white"><%= equipo.tipo %></b>
            <hr>
          </a>
        <% } %>
      </div>
    </div> 
  </aside>